{% extends 'base.html' %}
{% load i18n staticfile %}
{% block pagetitle %}
    {% trans "Home" %}
{% endblock%}

{% block content %}
<div id="wrapper" class="container">
    <div>
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>

    <div>
        <h2> {% trans "Connect with your account " %} </h2>
    </div>

    <div>
        <div>
            <form action="{{ action }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <label> {{ login.username.label }}
                <input id="login-username" type="text" name="username" placeholder= {% trans "User name " %}/><br/>
                <p >{{ login.username.errors }}</p>
                <label> {{ login.password.label }}
                <input id="login-password"  type="password" name="password" value="" placeholder={% trans 'Password' %}/>
                <p>{{ login.password.errors }}</p>
                <div clas="">
                    <span> <a href="#"> {% trans 'Forgot password ?' %} </a> </span>
                    <span>
                        <input type="submit" value="Go!" />
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
